{% extends "index.html" %}
{% block content %}
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>My Alerts</h1>
    </div>

    <div class="card-columns">
        {% for alert in alerts %}
            <div class="card {{'bg-light border-warning mb-3' if not alert.active else 'bg-basic border-primary mb-3'}}" style="width: 12rem; height: 20rem;">
                <div class="card-header bg-transparent {{'border-warning' if not alert.active else 'border-primary'}}">
                    <a href="{{url_for('alerts.get_alert_page', alert_id = alert._id)}}">
                        <img class="card-img-top" width="60" height="180" src="{{alert.item.img_src}}">
                    </a>
                </div>
                <div class="card-body">
                    <div>
                        <small class="text-muted">@ {{alert.last_checked.strftime("%Y-%m-%d at %H:%M")}}</small>
                        <p class="mb-1">Price Found <strong>${{alert.item.price}}</strong></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <br>
    <a class="btn btn-success" href="{{url_for('alerts.create_alert')}}"><i class="fas fa-plus"></i> Create</a>
{% endblock %}