{% extends "index.html" %}
{% block content %}
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>My Alerts</h1>
    </div>
    <div class="list-group">
        {% for alert in alerts %}
        <a href="{{url_for('alerts.get_alert_page', alert_id = alert._id)}}" class="list-group-item list-group-item-action {{'list-group-item-warning' if not alert.active}} flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><i class="{{'fas fa-times-circle' if not alert.active}}"></i>
                    Alert for {{ alert.item.name }}</h5>
                <small class="text-muted">Last checked {{alert.last_checked.strftime("%Y-%m-%d at %H:%M")}}</small>
            </div>
            <p class="mb-1">Last price found <strong>${{alert.item.price}}</strong></p>
        </a>
        {% endfor %}
    </div>
    <br>
    <a class="btn btn-success" href="{{url_for('alerts.create_alert')}}"><i class="fas fa-plus"></i> Create</a>
{% endblock %}