{% extends "index.html" %}
{% block content %}
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>Create Store</h1>
    </div>
    <div class="col-md-9 mx-auto bg-light p-3 border rounded">
        <form method="post">
            <div class="form-group">
                <label for="name">Store Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Store Name">
            </div>
            <div class="form-group">
                <label for="url_prefix">Store URL Prefix</label>
                <input type="text" class="form-control" id="url_prefix" name="url_prefix" placeholder="http://..." value ="http://" aria-describedby="storeURLPrefixHelp">
                <small id="storeURLPrefixHelp" class="form-text text-muted">What characters do URLs of all items in this store start with?</small>
            </div>
            <div class="form-group">
                <label for="price_tag">Price Tag</label>
                <input type="text" class="form-control" id="price_tag" name="price_tag" placeholder="span" value="span" aria-describedby="storeTagNameHelp">
                <small id="storeTagNameHelp" class="form-text text-muted">What is the HTML tag of the item that contains the item price? (usually <code>span</code>)</small>
            </div>
            <div class="form-group">
                <label for="price_query">Price Query</label>
                <input type="text" class="form-control" id="price_query" name="price_query" placeholder='{"id": "price-now"}' value='{"id": "price-now"}' aria-describedby="queryHelpBlock">
                <small id="queryHelpBlock" class="form-text text-muted">What JSON query would we have to do to find the specific tag with the price? Remember to use double quotation marks.</small>
            </div>
            <div class="form-group">
                <label for="img_query">Image Query</label>
                <input type="text" class="form-control" id="img_query" name="img_query" placeholder='{"itemprop": "image"}' value='{"itemprop": "image"}' aria-describedby="imgqueryHelpBlock">
                <small id="imgqueryHelpBlock" class="form-text text-muted">What JSON query would we have to do to find the specific tag with product image? Remember to use double quotation marks.</small>
            </div>
            <div class="form-group">
                <label for="img_src_tag">Image Tag</label>
                <input type="text" class="form-control" id="img_src_tag" name="img_src_tag" placeholder="src" value="src" aria-describedby="storeImgTagNameHelp">
                <small id="storeImgTagNameHelp" class="form-text text-muted">What is the HTML tag of the item that contains the item img src? (usually <code>src</code>)</small>
            </div>
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
{% endblock %}