{% extends "index.html" %}
{% block content %}
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>Create Store</h1>
    </div>
    <div class="col-md-9 mx-auto bg-light p-3 border rounded">
        <form method="post">
            <div class="form-group">
                <label for="name">Store Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Store Name">
            </div>
            <div class="form-group">
                <label for="url_prefix">Store URL Prefix</label>
                <input type="text" class="form-control" id="url_prefix" name="url_prefix" placeholder="http://..." value ="http://" aria-describedby="storeURLPrefixHelp">
                <small id="storeURLPrefixHelp" class="form-text text-muted">What characters do URLs of all items in this store start with?</small>
            </div>
            <div class="form-group">
                <label for="tag_name">Tag Name</label>
                <input type="text" class="form-control" id="tag_name" name="tag_name" placeholder="span" value="span" aria-describedby="storeTagNameHelp">
                <small id="storeTagNameHelp" class="form-text text-muted">What is the HTML tag of the item that contains the item price? (usually <code>span</code>)</small>
            </div>
            <div class="form-group">
                <label for="query">Search Query</label>
                <input type="text" class="form-control" id="query" name="query" placeholder='{"id": "price-now"}' value='{"id": "price-now"}' aria-describedby="queryHelpBlock">
                <small id="queryHelpBlock" class="form-text text-muted">What JSON query would we have to do to find the specific tag with the price? Remember to use double quotation marks.</small>
            </div>
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
{% endblock %}