{% extends "index.html" %}
{% block content %}
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h2>Supported Stores</h2>
    </div>
    <div>
        <div class="btn-group mr-2 flex-wrap">
            {% for store in stores %}
                {% if session['email'] in config.ADMINS %}
                    <a href="{{url_for('stores.store_page', store_id=store._id)}}"  class="btn btn-light">
                        <div>
                            <h6 class="mb-1">{{ store.name }}</h6>
                        </div>
                    </a>
                {% else %}
                    <a href="{{ store.url_prefix }}" target="_blank"  class="btn btn-light">
                        <div>
                            <h6 class="mb-1">{{ store.name }}</h6>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>



    {% if session['email'] in config.ADMINS %}
        <br>
        <a class="btn btn-success" href="{{url_for('stores.create_store')}}"><i class="fas fa-plus"></i> Create</a>
    {% endif %}
{% endblock %}