{% extends "index.html" %}
{% include "alerts/edit_alert.html" %}
{% block content %}
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h2>Alert <small>for {{alert.item.name}}</small></h2>
    </div>
    <p>Price Limit <strong>${{alert.price_limit}}</strong></p>
    <p>Last price found $<strong>{{alert.item.price}}</strong></p>
    <p>Last checked <strong>{{alert.last_checked.strftime("%Y-%m-%d at %H:%M")}}</strong></p>
    <div class="card">
      <div class="card-body">
          <a href="{{alert.item.url}}" target="_blank" class="btn btn-primary">Visit Site</a>
          <a href="#editAlertModal" data-toggle="modal" class="btn btn-warning">Edit Alert</a>
          <a href="{{url_for('alerts.check_alert_price', alert_id = alert._id)}}" class="btn btn-info">Check Price</a>
          {% if alert.active %}
            <a href="{{url_for('alerts.deactivate_alert', alert_id = alert._id)}}" class="btn btn-danger">Deactivate</a>
          {% else %}
            <a href="{{url_for('alerts.activate_alert', alert_id = alert._id)}}" class="btn btn-success">Activate</a>
            <a href="{{url_for('alerts.delete_alert', alert_id = alert._id)}}" class="btn btn-danger">Delete</a>
          {% endif %}
      </div>
    </div>

{% endblock %}

